{% extends "base.html" %}

{% block content %}

{%- if paginator %}
  {%- set show_pages = paginator.pages -%}
{% else %}
  {% set section = get_section(path="blog/_index.md") %}
  {%- set show_pages = section.pages -%}
{% endif -%}
<h1 class="title text-xl font-semibold mb-4 border-b-yellow border-b-2 w-fit">
<!-- {{ section.title }} -->
</h1>
<ul>

<!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  

{% for page in show_pages %}
<li class="mt-10">
  <section class="list-item">
    <a href="{{ page.permalink | safe }}" class="font-bold">
      <h1 class="mb-3 ">
        <span class="text-red">ᐳ</span> <span class="pb-[2px] border-b-2 border-blue w-fit">{{ page.title }}</span>
      </h1>
    </a>

    <time class="text-gray">{{ page.date | date(format="%Y-%m-%d") }}</time>
    <span class="text-gray">| {{ page.reading_time }} minute read</span>

    <br />
    <div class="description mr-8">
      {% if page.description %}
      {{ page.description }}
      {% elif page.summary %}
      {{ page.summary }}&hellip;
      {% else %}
      <div class="line-clamp-3">
        {{ page.content | safe }}
      </div>
      {% endif %}
    </div>

    <a class="readmore text-green underline-offset-8 underline" href={{ page.permalink }}>Read more ⟶</a>
  </section>
</li>
{% endfor %}
</ul>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %}
  {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}
