{% extends "base.html" %}

{% block content %}

<ul>
<!-- iterate over all pages -->
{% for page in paginator.pages %}
<li class="mt-10 p-2 rounded border-yellowDim border">
  <section class="list-item">
    <!-- page title -->
    <a href="{{ page.permalink | safe }}" class="font-bold text-lg">
      <h1 class="mb-1 ">
        <span class="text-red">ᐳ</span> <span class="pb-[2px] border-b-2 border-blueDim hover:border-blue w-fit">{{ page.title }}</span>
      </h1>
    </a>

    <!-- page date and reading time -->
    <time class="text-gray text-sm">{{ page.date | date(format="%Y-%m-%d") }}</time>
    <span class="text-gray text-sm">| {{ page.reading_time }} minute read</span>
    <!-- taxonomy tags -->
    {% if page.taxonomies and page.taxonomies.tags %}
      <div class="mt-1 text-sm">
        {% for tag in page.taxonomies.tags %}
          <a href={{ get_taxonomy_url(kind='tags', name=tag) | safe }} 
          class=" p-1 border rounded mr-1">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    <br />
    <!-- desc / summary / clamped content -->
    <div class="description mr-8 text-sm">
      {% if page.description %}
      {{ page.description }}
      {% elif page.summary %}
      {{ page.summary }}&hellip;
      {% else %}
      <div class="line-clamp-3">
        {{ page.content | safe }}
      </div>
      {% endif %}
    </div>

    <!-- readmore -->
    <a class="readmore text-green underline-offset-8 underline" href={{ page.permalink }}>Read more ⟶</a>
  </section>
</li>
{% endfor %}
</ul>
<!-- paginator nv -->
<nav class="pagination mt-10 justify-center flex">
  {% if paginator.previous %}
  <a class="previous mr-10 hover:underline underline-offset-4" href="{{ paginator.previous }}">‹ Previous Page</a>
  {% endif %}
  {% if paginator.next %}
  <a class="next hover:underline underline-offset-4" href="{{ paginator.next }}">Next Page ›</a>
  {% endif %}
</nav>
{% endblock content %}
