.markdown-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
    margin-top: 2em;
  }

  h1::before {
    color: var(--maincolor);
    content: "# ";
  }

  h2::before {
    color: var(--maincolor);
    content: "## ";
  }

  h3::before {
    color: var(--maincolor);
    content: "### ";
  }

  h4::before {
    color: var(--maincolor);
    content: "#### ";
  }

  h5::before {
    color: var(--maincolor);
    content: "##### ";
  }

  h6::before {
    color: var(--maincolor);
    content: "###### ";
  }
}
